.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.file-upload-container {
  margin: 20px; /* Añadir margen alrededor del contenedor de subida de archivos */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black; /* Cambia el color del texto */
}

button {
  margin-top: 10px; /* Añadir margen superior al botón */
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ffffff; /* Cambiar color de fondo al pasar el ratón */
}

input[type="file"],
input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
}

h2 {
  color: rgb(0, 0, 0); /* Cambia el color del encabezado */
  font-size: 20px;
}

h3 {
  color: rgb(5, 1, 1); /* Cambia el color del encabezado */
  font-size: 15px;      
}

p {
  color: rgb(218, 82, 82); /* Cambia el color del texto */
}
